@model ReporteSemanaViewModel
@{
    ViewData["Title"] = "Reporte Semanal";
    string FormatearFecha(DateTime Fecha)
    {
        return Fecha.ToString("MM.dd");
    }
    var ResumenMontos = new ResumenMontosViewModel()
            {
                Ingresos = Model.Ingresos,
                Gastos = Model.Gastos,
                Total = Model.Total
            };
}
<partial name="_SubMenu" model="SubMenuTransacciones.Semanal" />
<h4>
    <a asp-action="Semanal" asp-controller="Transacciones" asp-route-month="@ViewBag.mesAnterior" asp-route-year="@ViewBag.añoAnterior"
       class="btn btn-secondary"><i class="bi-chevron-left"></i></a>
    @Model.Fecha.ToString("MMM").Replace(".","").ToUpper() - @Model.Fecha.Year
    <a asp-action="Semanal" asp-controller="Transacciones" asp-route-month="@ViewBag.mesPosterior" asp-route-year="@ViewBag.añoPosterior"
       class="btn btn-secondary"><i class="bi-chevron-right"></i></a>
</h4>
<partial name="_ResumenMontos" model="@ResumenMontos" />


<table class="table" style="font-size: 20px;">
    <thead>
        <tr>
            <th>Semana</th>
            <th style="text-align: right">Ingresos</th>
            <th style="text-align: right">Gastos</th>
        </tr>
    </thead>
    @foreach (var transaccionesPorSemana in Model.TransaccionesPorSemana)
    {
        <tr>
            <td>
                <a style="text-decoration: none" asp-action="Index"
               asp-route-year="@Model.Fecha.Year"
               asp-route-month="@Model.Fecha.Month">
                    @FormatearFecha(transaccionesPorSemana.FechaInicio) ~
                    @FormatearFecha(transaccionesPorSemana.FechaFin)
                </a>
            </td>
            <td class="activo" style="text-align: right">
                @transaccionesPorSemana.Ingresos
            </td>
            <td class="pasivo" style="text-align: right">
                @transaccionesPorSemana.Gastos
            </td>
        </tr>
    }
</table>